<form (ngSubmit)="onSubmit()" [formGroup]="skuForm">
    <div>
        <label for="oldSku">Old SKU: </label>
        <input id="oldSku" #oldSku formControlName="oldSku">
    </div>
    <div>
        <label for="newSku">New SKU: </label>
        <input id="newSku" #newSku formControlName="newSku">
    </div>
    <div>
        <label for="newDesc">New Description: </label>
        <input id="newDesc" #newDesc formControlName="newDesc">
    </div>
    <div>
        <input type="radio" name="updateSTDOrRC" formControlName="updateSTDOrRC" value="STDORD" > Standard Order Only
        <input type="radio" name="updateSTDOrRC" formControlName="updateSTDOrRC" value="RC"> Recon only
        <input type="radio" name="updateSTDOrRC" formControlName="updateSTDOrRC" value="both"> Standard and Recon
    </div>
    <div class="center">
    <button type="submit">Submit</button>
    <h3 *ngIf="clickMessage" class='message'>{{clickMessage}}</h3>
    <h3 class='error'>{{error}}</h3>
    </div>
</form>
